<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dappley.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".application.AppData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WalletAddActivity" />
        <activity android:name=".WalletCreateActivity" />
        <activity android:name=".WalletImportActivity" />
        <activity android:name=".WalletMnemonicActivity" />
        <activity android:name=".WalletDetailActivity" />
        <activity android:name=".TransferActivity" />
        <activity android:name=".WalletReceiveCodeActivity" />
        <activity android:name="com.google.zxing.activity.CaptureActivity" />

        <service android:name=".sdk.service.LocalBlockService" />

        <receiver android:name=".listener.StepNotificationReceiver" />

        <activity android:name=".ConvertSelectActivity"></activity>
    </application>

</manifest>